/* .content {
  width: 1440px;
  height: 1200px;
} */

#hr1 {
  background: linear-gradient(
    48deg,
    rgba(35, 158, 217, 1) -5%,
    rgba(24, 143, 69, 1) 35%,
    rgb(211, 232, 26) 99%
  );
  height: 7px;
  margin: 10px;
  /* border-radius: 10px; */
}

#link {
  /* cursor: pointer; */
  color: black;
}
#login {
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* border: 5px solid green; */
}
#oi {
  /* position: relative; */
  /* justify-content: center; */
  border: 4px solid black;
}

#oi2 {
  /* position: relative; */
  /* justify-content: center; */
  /* padding: 20px; */
  border: 4px solid rgb(155, 2, 2);
}

.container {
  padding: 20%;
  border: 4px solid yellow;
}

.row > .col,
.row > [class^="col-"],
.bg {
  /* padding-top: ; */
  /* padding-bottom: ; */
  background-color: rgba(71, 61, 139, 0.15);
  border: 2px solid rgba(71, 61, 139, 0.2);
}

#ola {
  background: rgb(35, 158, 217);
  background: linear-gradient(
    48deg,
    rgba(35, 158, 217, 1) -5%,
    rgba(24, 143, 69, 1) 35%,
    rgb(211, 232, 26) 99%
  );
  border: none;
  border-radius: 6px;
  color: white;
  width: 200px;
  transition: 0.3s ease-in-out;
}
#ola:hover {
  opacity: 50%;
  /* background: linear-gradient(
    200deg,
    rgba(35, 158, 217, 1) -5%,
    rgba(24, 143, 69, 1) 35%,
    rgb(211, 232, 26) 99%
  ); */
}

.button #enter {
  display: flex;
  background-image: linear-gradient(
    to right,
    #16a085 0%,
    #a6bf02 51%,
    #16a085 100%
  );
  margin: auto;
  padding: auto;
  width: 444px;
  height: 55px;
  font-size: 1.1rem;
  font-weight: 900;
  text-align: center;
  justify-items: auto;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border-style: none;
}

.button #enter:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.button {
  /* display: flex; */
  /* position: relative; */
  /* justify-content: flex-end; */
  /* padding-top: 20px; */
  height: 1px;
  background-color: rgb(255, 255, 255);
  justify-content: flex-start;
}

.content-button {
  display: flex;
}
